:root{
  --planner-color: #484553;
  --planer-head: white;
  --even-row:  #4845531f;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 100%;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}


/*planner table styling*/
thead { 
  background-color: var(--planner-color) ;
  color: var(--planer-head) ;
}

tbody {
  color: var(--planner-color);
  font-weight: 600;
  align-items: center;
}

#hour {
  text-align: right;
  font-size: 1.5rem;
}

#checkbox {
  align-items: center;
}

.btn {
  background-color: var(--planner-color);
  color: var(--planer-head);
}

.even {
  background-color: var(--even-row);
}

